[submodule "site-lisp/powerline"]
	path = site-lisp/powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = http://jblevins.org/git/markdown-mode.git
[submodule "site-lisp/rvm"]
	path = site-lisp/rvm
	url = https://github.com/senny/rvm.el.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "site-lisp/haml-mode"]
	path = site-lisp/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "site-lisp/find-things-fast"]
	path = site-lisp/find-things-fast
	url = https://github.com/eglaysher/find-things-fast.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/emacs-quickrun"]
	path = site-lisp/emacs-quickrun
	url = https://github.com/syohex/emacs-quickrun.git
[submodule "site-lisp/rspec-mode"]
	path = site-lisp/rspec-mode
	url = https://github.com/pezra/rspec-mode.git
[submodule "site-lisp/swank-js"]
	path = site-lisp/swank-js
	url = https://github.com/swank-js/swank-js.git
[submodule "site-lisp/slime-js"]
	path = site-lisp/slime-js
	url = https://github.com/Gozala/slime-js.git
[submodule "lisp/languages/ruby-end"]
	path = lisp/languages/ruby-end
	url = https://github.com/rejeep/ruby-end.git
[submodule "site-lisp/yari"]
	path = site-lisp/yari
	url = https://github.com/pedz/yari-with-buttons.git
[submodule "site-lisp/emacs-calfw"]
	path = site-lisp/emacs-calfw
	url = https://github.com/kiwanami/emacs-calfw.git
[submodule "site-lisp/wrap-region"]
	path = site-lisp/wrap-region
	url = https://github.com/rejeep/wrap-region.git
[submodule "site-lisp/switch-window"]
	path = site-lisp/switch-window
	url = https://github.com/mjsteger/dotemacs
